*~
*.class
*.log*
*.bak
*.war
*.nar
*.ear
*.zip
*.tar.gz

**/.classpath
**/*.iml
**/*.iws
**/*.ipr
.ideaDataSources
.idea

**/build/
**/target/
**/.gradle/
**/out
**/lib

**/prometheumultiprocess

# Spring Boot reads local configuration out of a directory named config.
# However, Gradle also looks for project configurations - most notably
# Checkstyle configuration - in the config directory.  This section hides
# everything directly under the config directory except what Gradle is
# going to use or files used for developer deployment (certificates and key)
config/*
!config/codestyle
!config/kafka

#VS Code
.project
.settings
/**/bin/*
!bin/import-events.py
!bin/build-images.sh
!bin/insert-mock-hosts
.vscode
.editorconfig
*.code-workspace

.run/
.env

deploy/secrets.yaml

#created when running pr_check.sh locally
artifacts
.bonfire_venv
.cicd_bootstrap.sh
.podman
bonfire
.bonfire
.docker
.kube


stub/__files/
