*~
*.class
*.log*
*.bak
*.war
*.nar
*.ear
*.zip
*.tar.gz

**/.classpath
**/*.iml
**/*.iws
**/*.ipr
.ideaDataSources
.idea

**/build/
**/target/
**/.gradle/
**/out

**/prometheumultiprocess

# Spring Boot reads local configuration out of a directory named config.
# However, Gradle also looks for project configurations - most notably
# Checkstyle configuration - in the config directory.  This section hides
# everything under the config directory except what Gradle is going to use.
config/
!config/codestyle/**

#VS Code
.project
.settings
/**/bin/*
!bin/hawtio-proxy.sh
!bin/build-images.sh
!bin/insert-mock-hosts
.vscode
.editorconfig

.run/
.env

deploy/secrets.yaml

#created when running pr_check.sh locally
.bonfire_venv/
.cicd_bootstrap.sh
.podman/
bonfire/
