*~
*.class
*.log*
*.bak
*.war
*.nar
*.ear
*.zip
*.tar.gz

**/.classpath
**/*.iml
**/*.iws
**/*.ipr
.ideaDataSources
.idea

**/build/
**/target/
**/.gradle/
**/out

**/prometheumultiprocess

#VS Code
.project
.settings
bin
.vscode
.editorconfig
