"Subscription_Watch_RHSM_Tally"
"Subscription_Watch_OpenShift_Tally"
"Subscription_Watch_Satellite_Tally"
"Subscription_Watch_vcpus_visualization"
"Subscription_Watch_Public_cloud"
"Subscription_Watch_Capacity"
"Subscription_Watch_Tally_Usage"
"Subscription_Watch_OptIn"
"Subscription_Watch_RBAC"
"Subscription_Watch_SystemTable"
"Subscription_Watch_SubscriptionTable"
"Subscription_Watch_OpenShift_PAYG"
"Subscription_Watch_OpenShift_PAYG_Cluster_Charge"
"Subscription_Watch_RHODS"
"Subscription_Watch_Deduplication"
"Subscription_Watch_Yupana"
"Subscription_Watch_Satellite"
"Subscription_Watch_UI"
"Subscription_Watch_OpenShift_Kafka_Streams"