TASKS_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.tasks')].name:platform.rhsm-subscriptions.tasks}
TALLY_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.tally')].name:platform.rhsm-subscriptions.tally}
BILLABLE_USAGE_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.billable-usage')].name:platform.rhsm-subscriptions.billable-usage}
SERVICE_INSTANCE_INGRESS_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.service-instance-ingress')].name:platform.rhsm-subscriptions.service-instance-ingress}
SERVICE_INSTANCE_INGRESS_DEAD_LETTER_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.service-instance-ingress.dlt')].name:platform.rhsm-subscriptions.service-instance-ingress.dlt}

rhsm-subscriptions:
  hourlyTallyDurationLimitDays: 90d
  inventory-service:
    datasource:
      url: jdbc:postgresql://${INVENTORY_DATABASE_HOST:localhost}/${INVENTORY_DATABASE_DATABASE:insights}
      username: ${INVENTORY_DATABASE_USERNAME:insights}
      password: ${INVENTORY_DATABASE_PASSWORD:insights}
      driver-class-name: org.postgresql.Driver
      platform: postgresql
      hikari:
        connection-timeout: ${INVENTORY_DATABASE_CONNECTION_TIMEOUT_MS:30000}
        maximum-pool-size: ${INVENTORY_DATABASE_MAX_POOL_SIZE:10}
        auto-commit: false  # required to enable cursor-based streaming in native queries
  account-list-resource-location: ${ACCOUNT_LIST_RESOURCE_LOCATION:}
  event-retention-policy:
    eventRetentionDuration: ${EVENT_RECORD_RETENTION:90d}
  tally-retention-policy:
    # 70 days worth
    hourly: ${TALLY_RETENTION_HOURLY:1680}
    # A year and change
    daily: ${TALLY_RETENTION_DAILY:370}
    # Roughly 3 months worth
    weekly: ${TALLY_RETENTION_WEEKLY:12}
    # A year's worth
    monthly: ${TALLY_RETENTION_MONTHLY:12}
    # Four year's worth
    quarterly: ${TALLY_RETENTION_QUARTERLY:16}
    yearly: ${TALLY_RETENTION_YEARLY:5}
  remittance-retention-policy:
    # 70 days worth
    duration: ${REMITTANCE_RETENTION_DURATION:70d}
  tally-summary-producer:
    back-off-initial-interval: ${TALLY_SUMMARY_PRODUCER_BACK_OFF_INITIAL_INTERVAL:1s}
    back-off-max-interval: ${TALLY_SUMMARY_PRODUCER_BACK_OFF_MAX_INTERVAL:1m}
    back-off-multiplier: ${TALLY_SUMMARY_PRODUCER_BACK_OFF_MULTIPLIER:2}
    max-attempts: ${TALLY_SUMMARY_PRODUCER_MAX_ATTEMPTS:5}
    topic: ${TALLY_TOPIC}
  service-instance-ingress:
    incoming:
      topic: ${SERVICE_INSTANCE_INGRESS_TOPIC}
      kafka-group-id: swatch-instance-ingress
      seek-override-end: ${SERVICE_INSTANCE_INGRESS_KAFKA_SEEK_OVERRIDE_END:false}
      seek-override-timestamp: ${SERVICE_INSTANCE_INGRESS_KAFKA_SEEK_OVERRIDE_TIMESTAMP:}
      max-poll-records: ${SERVICE_INSTANCE_INGRESS_KAFKA_MAX_POLL_RECORDS:500}
  service-instance-ingress-dead-letter:
    outgoing:
      topic: ${SERVICE_INSTANCE_INGRESS_DEAD_LETTER_TOPIC}
  billing-producer:
    back-off-initial-interval: ${BILLING_PRODUCER_BACK_OFF_INITIAL_INTERVAL:1s}
    back-off-max-interval: ${BILLING_PRODUCER_BACK_OFF_MAX_INTERVAL:1m}
    back-off-multiplier: ${BILLING_PRODUCER_BACK_OFF_MULTIPLIER:2}
    max-attempts: ${BILLING_PRODUCER_MAX_ATTEMPTS:1}
    incoming:
      topic: ${TALLY_TOPIC}
      kafka-group-id: swatch-producer-billing
      seek-override-end: ${KAFKA_SEEK_OVERRIDE_END:false}
      seek-override-timestamp: ${KAFKA_SEEK_OVERRIDE_TIMESTAMP:}
    outgoing:
      topic: ${BILLABLE_USAGE_TOPIC}
    contracts:
      use-stub: ${CONTRACT_USE_STUB:false}
      back-off-initial-interval: ${CONTRACT_CLIENT_BACK_OFF_INITIAL_INTERVAL_MILLIS:1000}
      back-off-max-interval: ${CONTRACT_CLIENT_BACK_OFF_MAX_INTERVAL_MILLIS:64000}
      back-off-multiplier: ${CONTRACT_CLIENT_BACK_OFF_MULTIPLIER:2}
      max-attempts: ${CONTRACT_CLIENT_MAX_ATTEMPTS:1}
      url: ${SWATCH_CONTRACTS_INTERNAL_SERVICE_URL:http://localhost:8001}
      psk: ${SWATCH_SELF_PSK:placeholder}
  tasks:
    topic: ${TASKS_TOPIC}
    kafka-group-id: ${KAFKA_GROUP_ID:rhsm-subscriptions-task-processor}
    seek-override-end: ${KAFKA_SEEK_OVERRIDE_END:false}
    seek-override-timestamp: ${KAFKA_SEEK_OVERRIDE_TIMESTAMP:}
  tally-max-hbi-account-size: ${TALLY_MAX_HBI_ACCOUNT_SIZE:2147483647}  # Integer.MAX_VALUE by default
  hbi-reconciliation-flush-interval: ${HBI_RECONCILIATION_FLUSH_INTERVAL:1024}
  host-last-sync-threshold: ${HOST_LAST_SYNC_THRESHOLD:24h}
  datasource:
    enabled: true
