rhsm-subscriptions:
  inventory-service:
    datasource:
      url: jdbc:postgresql://${INVENTORY_DATABASE_HOST:localhost}/${INVENTORY_DATABASE_DATABASE:insights}
      username: ${INVENTORY_DATABASE_USERNAME:insights}
      password: ${INVENTORY_DATABASE_PASSWORD:insights}
      driver-class-name: org.postgresql.Driver
      platform: postgresql
  # Use Spring Resource notation for this (e.g. "classpath:" or "file:")
  role-to-products-map-resource-location: classpath:role_to_products_map.yaml
  arch-to-product-map-resource-location: classpath:arch_to_product_map.yaml
  account-list-resource-location: ${ACCOUNT_LIST_RESOURCE_LOCATION:}

  cloudigrade-enabled: ${CLOUDIGRADE_ENABLED:false}
  cloudigrade-max-attempts: ${CLOUDIGRADE_MAX_ATTEMPTS:2}
  cloudigrade:
    url: http://${CLOUDIGRADE_HOST:localhost}:${CLOUDIGRADE_PORT:8080}/api/cloudigrade/v2
    maxConnections: ${CLOUDIGRADE_MAX_CONNECTIONS:100}
  subscription:
    useStub: ${STUB_SUBSCRIPTION:true}
    url: http://${SUBSCRIPTION_HOST:localhost}:${SUBSCRIPTION_PORT:8080}/svcrest/subscription/v5
    keystore: file:${SUBSCRIPTION_KEYSTORE:}
    keystorePassword: changeit
    maxConnections: ${SUBSCRIPTION_MAX_CONNECTIONS:100}
