OFFERING_SYNC_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.offering-sync')].name:platform.rhsm-subscriptions.offering-sync}
SUBSCRIPTION_SYNC_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.subscription-sync')].name:platform.rhsm-subscriptions.subscription-sync}
SUBSCRIPTION_PRUNE_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.subscription-prune')].name:platform.rhsm-subscriptions.subscription-prune}
CAPACITY_RECONCILE_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-subscriptions.capacity-reconcile')].name:platform.rhsm-subscriptions.capacity-reconcile}
SUBSCRIPTION_EXPORT_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.export.requests')].name:platform.export.requests}


rhsm-subscriptions:
  #These export-service settings get used for subscription exports
  export-service:
    url: ${clowder.privateEndpoints.export-service-service.url:http://localhost:10000}
    psk: ${SWATCH_EXPORT_PSK:testing-a-psk}
  subscription-sync-enabled: ${SUBSCRIPTION_SYNC_ENABLED:true}
  product:
    tasks:
      topic: ${OFFERING_SYNC_TOPIC}
      kafka-group-id: offering-worker
  subscription:
    tasks:
      topic: ${SUBSCRIPTION_SYNC_TOPIC}
      kafka-group-id: subscription-worker
  subscription-prune:
    tasks:
      topic: ${SUBSCRIPTION_PRUNE_TOPIC}
      kafka-group-id: subscription-prune-worker
  capacity:
    tasks:
      topic: ${CAPACITY_RECONCILE_TOPIC}
      kafka-group-id: capacity-reconciliation-worker
  subscription-export:
    tasks:
      topic: ${SUBSCRIPTION_EXPORT_TOPIC}
      kafka-group-id: swatch-subscription-export
