rhsm-subscriptions:
  rh-marketplace:
    api-key: ${RH_MARKETPLACE_API_KEY}
    url: ${RH_MARKETPLACE_URL}
    token-refresh-period: ${RH_MARKETPLACE_TOKEN_REFRESH_PERIOD:1m}
    # 9 retries -> 1s + 2s + 4s + 8s + 16s + 32s + 64s + 64s + 64s = 255s (~5 minutes)
    max-attempts: ${RH_MARKETPLACE_MAX_ATTEMPTS:10}
    back-off-max-interval: ${RH_MARKETPLACE_BACK_OFF_MAX_INTERVAL:64s}
    back-off-initial-interval: ${RH_MARKETPLACE_BACK_OFF_INITIAL_INTERVAL:1s}
    back-off-multiplier: ${RH_MARKETPLACE_BACK_OFF_MULTIPLIER:2}
    verify-batches: ${RH_MARKETPLACE_VERIFY_BATCHES:true}
    manual-marketplace-submission-enabled: ${RH_MARKETPLACE_MANUAL_SUBMISSION_ENABLED:false}
    amendment-not-supported-marker: ${RH_MARKETPLACE_AMENDMENT_NOT_SUPPORTED_MARKER:(amendments) is not available}
