# These are core, default properties that we don't want the user to change.  Take care to use
# spring.config.additional-location instead of spring.config.location so that this file will continue
# getting loaded.
# See https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-application-property-files

resteasy:
  jaxrs:
    app:
      registration: property
      classes: org.candlepin.subscriptions.resteasy.JaxrsApplication
management:
  endpoints:
    web:
      exposure:
        include:
          - hawtio
          - health
          - info
          - jolokia
          - prometheus
  endpoint:
    shutdown:
      enabled: true
    prometheus:
      enabled: true

spring:
  profiles:
    active:
      - api
      - capacity-ingress
  liquibase:
    change-log: classpath:/liquibase/changelog.xml
