<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>rhsm-subscriptions</contextName>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [thread=%thread] [%X{requestType}=%X{requestUuid}, org=%X{org}, csid=%X{csid}] %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="SplunkAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE:-/tmp/rhsm-subscriptions.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!-- daily rollover -->
        <fileNamePattern>${LOG_FILE:-/tmp/rhsm-subscriptions.log}.%d{yyyy-MM-dd-HH-mm}.log</fileNamePattern>
        <maxHistory>1</maxHistory>
        <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'+0000'} [thread=%t] [level=%p] [category=%c] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.candlepin" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ConsoleAppender" />
        <appender-ref ref="SplunkAppender" />
    </root>
</configuration>
