CONDUIT_TOPIC: ${clowder.kafka.topics[?(@.requestedName == 'platform.rhsm-conduit.tasks')].name:platform.rhsm-conduit.tasks}

spring:
  config:
    import: classpath:swatch-core/application.yaml  # load the common configuration
  profiles:
    active: kafka-queue  # NOTE(khowell): this should be unnecessary w/ https://issues.redhat.com/browse/ENT-3874
rhsm-conduit:
  rhsm:
    use-stub: ${RHSM_USE_STUB:false}
    url: ${RHSM_URL:http://localhost:9090}
    keystore: file:${RHSM_KEYSTORE:}
    keystore-password: ${RHSM_KEYSTORE_PASSWORD:changeit}
    request-batch-size: ${RHSM_BATCH_SIZE:1000}
    max-connections: ${RHSM_MAX_CONNECTIONS:100}
    truststore: file:${RHSM_TRUSTSTORE:}
    truststore-password: ${RHSM_TRUSTSTORE_PASSWORD:changeit}
  inventory-service:
    use-stub: ${INVENTORY_USE_STUB:true}
    api-key: ${INVENTORY_API_KEY:changeit}
    host-last-sync-threshold: ${INVENTORY_HOST_LAST_SYNC_THRESHOLD:24h}
    add-uuid-hyphens: ${INVENTORY_ADD_UUID_HYPHENS:false}
    # FIXME: misnamed, it's actually in hours
    stale-host-offset-in-days: ${INVENTORY_STALE_HOST_OFFSET_HOURS:48}
    kafka-host-ingress-topic: ${INVENTORY_HOST_INGRESS_TOPIC:platform.inventory.host-ingress}
    tolerate-missing-account-number: ${TOLERATE_MISSING_ACCOUNT_NUMBER:false}
  tasks:
    topic: ${CONDUIT_TOPIC}
    kafka-group-id: ${CONDUIT_KAFKA_GROUP_ID:rhsm-conduit-task-processor}
    seek-override-end: ${KAFKA_SEEK_OVERRIDE_END:false}
    seek-override-timestamp: ${KAFKA_SEEK_OVERRIDE_TIMESTAMP:}
  package_uri_mappings:
    # this mapping required here because it is used by our SecurityConfig, which is shared
    org.candlepin.subscriptions.conduit.resteasy: ${PATH_PREFIX}/${APP_NAME}/v1
