---
apiVersion: v1
kind: Template
metadata:
  name: rhsm
parameters:
  - name: IMAGE_PULL_SECRET
    value: quay-cloudservices-pull
  - name: ENV_NAME
    value: env-rhsm
  - name: IMAGE
    value: quay.io/cloudservices/rhsm-subscriptions
  - name: IMAGE_TAG
    value: latest

objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: ClowdApp
    metadata:
      name: rhsm
    spec:
      # The name of the ClowdEnvironment providing the services
      envName: ${ENV_NAME}
