# by default ignore everything
**

# allow the build libs for spring-boot based contexts
!build/libs
# allow the quarkus-app build folder for quarkus based builds
!build/quarkus-app
# allow the build libs for splunk otel java agent
!build/javaagent
