<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <contextName>rhsm-conduit</contextName>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="org.candlepin" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ConsoleAppender" />
        <!--<appender-ref ref="RhsmConduitAppender" />-->
        <!--<appender-ref ref="ErrorAppender" />-->
    </root>
</configuration>
