<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <contextName>swatch-database</contextName>

  <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} [thread=%thread] [%-5p] [%c] %X{user}- %m%n%ex{full}</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="ConsoleAppender"/>
  </root>
</configuration>
