name: Sync Stable (Manual)

on:
  workflow_dispatch:
    inputs:
      ref:
        description: 'Branch name or commit SHA to sync stable branch to, resulting in stage environment being updated to the same commit'
        required: true

permissions:
  contents: write

jobs:
  sync-branch:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Hard reset stable to ref
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Hard reset stable branch to match the chosen ref (branch or commit)
          git checkout -B stable HEAD

          # Force push to stable branch
          git push origin stable --force
