<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>rhsm-subscriptions</contextName>
    <evaluator name="SECURITY_STACKTRACE_EVAL" class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <marker>SECURITY_STACKTRACE</marker>
    </evaluator>

    <evaluator name="MDC_STACKTRACE_EVAL" class="org.candlepin.subscriptions.logback.OnMdcEvaluator">
        <!-- Log events with the MDC keys listed below set to "true" will not have their stacktraces printed -->
        <mdcKey>INVALID_GRANULARITY</mdcKey>
        <mdcKey>INVALID_USAGETYPE</mdcKey>
        <mdcKey>INVALID_SERVICELEVELTYPE</mdcKey>
        <mdcKey>ACCOUNT_LOOKUP_FAILED</mdcKey>
    </evaluator>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %ex{full, SECURITY_STACKTRACE_EVAL} will display the full stack trace of the exception only
             if the evaluator called SECURITY_STACKTRACE_EVAL returns false. -->
            <pattern>%d{ISO8601} [thread=%thread] [%-5p] [%c] %X{user}- %m%n%ex{full, SECURITY_STACKTRACE_EVAL, MDC_STACKTRACE_EVAL}</pattern>
        </encoder>
    </appender>

    <logger name="org.candlepin" level="INFO"/>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>LOGGING_FILE_LOG_ENABLED</key>
        <value>true</value>
    </condition>
    <if>
        <then>
            <appender name="FileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_FILE:-/logs/server.log}</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <fileNamePattern>${LOG_FILE:-/logs/server.log}.%i</fileNamePattern>
                    <minIndex>1</minIndex>
                    <maxIndex>2</maxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <maxFileSize>10MB</maxFileSize>
                </triggeringPolicy>
                <layout class="com.redhat.swatch.logging.LoggingFileJsonLayout"/>
            </appender>

            <root level="WARN">
                <appender-ref ref="ConsoleAppender" />
                <appender-ref ref="FileAppender" />
            </root>
        </then>
        <else>
            <root level="WARN">
                <appender-ref ref="ConsoleAppender" />
            </root>
        </else>
    </if>

</configuration>
